*{
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  :focus,
  :active {
    outline: none;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }
  
  button {
    cursor: pointer;
  }
  
  a,
  a:visited,
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  
  @font-face {
    font-family: "Roboto Slab";
    src: url(fonts/robotoslab/RobotoSlab-Regular.ttf);
  }
  
  @font-face {
    font-family: "Halvar Breitschrift";
    src: url(fonts/HalvarBreit-Lt.ttf);
  }
  
  .container {
    max-width: 1160px;
    margin: 0 auto;
    @media (max-width: 1000px) {
      max-width: 765px;
    }
    @media (max-width: 480px) {
      max-width: 300px;
    }
  }

  ////////////////////////////////...................HEADER..............................................
  

  .header {
    background-color: #1F1F1F;
    min-height: 80px;
  }

  .header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px 15px 0px;
  }

  .header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px 30px 0px;
      @media (max-width: 480px) {
        display: none;
      }
  }

  .header__list a {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 25px;
    @media (max-width: 1000px) {
      margin-left: 10px;
      font-size: 15px;
      line-height: 20px;
    }
  }

  .header__contact a {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
      @media (max-width: 1000px) {
        font-size: 16px;
        line-height: 21px;
      }
      @media (max-width: 480px) {
        display: none;
      }
  }

  .header-burger {
    display: none;
    @media (max-width: 480px) {
      display: block;
    }
  }
 

  ///////////////////////////..........................Welcome.......................................
  
.welcome {
    background-image: url(img/main/Slider/ian-schneider-PAykYb-8Er8-unsplash\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 222px;
    padding-bottom: 150px;
    @media (max-width: 480px) {
      background-image: url(img/main/mobile.png);
    }
}

.welcome__title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 84px;
    color: #FFFFFF;
    margin-bottom: 22px;
    @media (max-width: 1000px) {
      font-size: 48px;
      line-height: 63px;
    }
    @media (max-width: 480px) {
      font-family: 'Roboto Slab';
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: #FFFFFF;
    }
}

.welcome__text {
    font-family: 'Halvar Breitschrift';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 50px;
    @media (max-width: 1000px) {
      font-size: 20px;
      line-height: 23px;
    }
    @media (max-width: 480px) {
      font-family: 'Halvar Breitschrift';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      text-align: center;
    }
}

.btn {
    width: 300px;
    height: 70px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'Halvar Breitschrift';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

//////////////////////////............................Greetings.......................................................

.greetings {
  padding: 130px 0px 130px 0px;
  @media (max-width: 480px) {
    padding: 70px 0px 70px 0px;
  }
}

.greetings-body {
  display: flex;
  gap: 40px;
  @media (max-width: 1000px) {
    gap: 10px;
  }
  @media (max-width: 480px) {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
}

.greetings__title {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #000000;
  @media (max-width: 1000px) {
    font-size: 32px;
    line-height: 42px;
  }
  @media (max-width: 480px) {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    margin-top: 10px;
    text-align: center;
  }
}

.greetings__text {
  font-family: 'Halvar Breitschrift';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-top: 20px;
  @media (max-width: 1000px) {
    font-size: 16px;
    line-height: 19px;
  }
  @media (max-width: 480px) {
    font-family: 'Halvar Breitschrift';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
  }
}

.greetings__img {
  @media (max-width: 1000px) {
    width: 100%;
  }
  @media (max-width: 480px) {
    width: 100%;
  }
  
}

.greetings-right {
  width: 50%;
  @media (max-width: 480px) {
    width: 100%;
  }
}

.greetings-left {
  width: 50%;
  @media (max-width: 480px) {
    width: 100%;
  }
}

///////......................................Portfolio...............................................................

.portfolio {
  padding: 0px 0px 160px 0px;
  @media (max-width: 480px) {
    padding: 0px 0px 70px 0px;
  }
}

.portfolio-body {
  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.portfolio__title {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #000000;
  margin-bottom: 15px;
  @media (max-width: 480px) {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
  }
}

.portfolio__text {
  font-family: 'Halvar Breitschrift';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 62px;
  color: #000000;
  @media (max-width: 480px) {
    font-family: 'Halvar Breitschrift';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #000000;
  }
}

.portfolio-galery {
  min-height: 400px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 13vw);
  grid-gap: 10px;
  @media (max-width: 480px) {
    min-height: 150px;
  }
}

.galery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.galery__item_1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.galery__item_2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.galery__item_3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.galery__item_4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.galery__item_5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.galery__item_6 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.galery__item_7 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.portfolio__button {
  width: 360px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1F1F1F;
  font-family: 'Halvar Breitschrift';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border-radius: 10px;
  color: #FFFFFF;
  @media (max-width: 480px) {
    width: 160px;
    height: 40px;
    font-size: 8px;
    line-height: 9px;
  }
}


//////////////////////................................KEY...........................................................

.key {
  padding: 0px 0px 130px 0px;
  @media (max-width: 480px) {
    padding: 0px 0px 70px 0px;
  }
}

.key-body {
  display: flex;
  gap: 35px;
  @media (max-width: 480px) {
    width: 100%;
   gap: 0px;
   flex-direction: column;
   align-items: center;
  }
}

.key__img {
  width: 100%;
}

.key__title {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #000000;
  margin-bottom: 20px;
  @media (max-width: 480px) {
    display: none;
  }
}

.key__text {
  font-family: 'Halvar Breitschrift';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 25px;
  @media (max-width: 480px) {
    font-size: 13px;
    line-height: 15px;
  }
}

.key__info {
  @media (max-width: 480px) {
    width: 100%;
    margin-top: 10px;
  }
}

.key-buttons {
  display: flex;
  justify-content: space-between;
}

.key__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 60px;
  background: #1F1F1F;
  border-radius: 10px;
  font-family: 'Halvar Breitschrift';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #FFFFFF;
  @media (max-width: 480px) {
    width: 140px;
    height: 38px;
    font-size: 8px;
    line-height: 9px;
  }
}

//////////////////..................................Map..........................................


.work-map {
  display: flex;
}

.work-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work__title {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #000000;
  margin-bottom: 20px;
  @media (max-width: 480px) {
    font-size: 20px;
    line-height: 26px;
  }
}

.work__text {
  font-family: 'Halvar Breitschrift';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 45px;
  @media (max-width: 480px) {
    width: 70%;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
  }
}


.map-center {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.map__img {
  display: block;
}

.center__img {
  display: flex;
  justify-content: center;
}

.block__title {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 10px;
  @media (max-width: 480px) {
    font-size: 16px;
    line-height: 21px;
  }
}

.block__text {
  font-family: 'Halvar Breitschrift';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  text-align: right;
  color: #000000;
  @media (max-width: 480px) {
    font-size: 10px;
    line-height: 12px;
  }
}


.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px 10px 0px 10px;
}

.left-block:not(:last-child) {
  margin-bottom: 33%;
}

.right-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40%;
  padding: 0px 10px 0px 10px;
 
}

.map-left {
  @media (max-width: 480px) {
    display: none;
  }
}

.map-right {
  padding-top: 14%;
  @media (max-width: 480px) {
    display: none;
  }
}

.map-mobile {
  display: none;
  @media (max-width: 480px) {
    display: block;
  }
}

.mobile-block {
  @media (max-width: 480px) {
    margin-bottom: 14%;
    padding-left: 5%;
  }
}

///////////////////.............................Reviews.............................................................

.reviews {
  padding: 130px 0px 145px 0px;
  @media (max-width: 480px) {
    padding: 100px 0px 70px 0px;
  }
}

.reviews-body {
  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.reviews__title {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #000000;
  margin-bottom: 15px;
  @media (max-width: 480px) {
    font-size: 20px;
    line-height: 26px;
  }
}

.reviews__text {
  font-family: 'Halvar Breitschrift';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-top: 20px;
  @media (max-width: 480px) {
    font-size: 13px;
    line-height: 15px;
    text-align: center;
  }
}

.reviews-info {
  display: flex;
  margin-top: 30px;
  @media (max-width: 480px) {
   flex-direction: column;
   gap: 0px;
   align-items: center;
  }
}

.info-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left__text {
  font-family: 'Halvar Breitschrift';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 15px;
color: #000000;
margin-top: 10px;
}

.info-right {
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  @media (max-width: 480px) {
   width: 100%;
   padding: 10px 0px 0px 0px;
  }
}

.right__text {
  font-family: 'Halvar Breitschrift';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 10px;
  @media (max-width: 480px) {
    font-size: 10px;
    line-height: 12px;
    text-align: center;
  }
}

.right__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 60px;
  background: #1F1F1F;
  border-radius: 10px;
  font-family: 'Halvar Breitschrift';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  @media (max-width: 480px) {
    width: 140px;
    height: 40px;
    font-size: 8px;
    line-height: 9px;
   }
}

////////////..................................Form......................................................


.form {
  padding: 0px 0px 200px 0px;
  @media (max-width: 480px) {
    padding: 0px 0px 110px 0px;
   }
}

.form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__title {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #1F1F1F;
  @media (max-width: 480px) {
    font-size: 11px;
    line-height: 15px;
   }
}

.form__line {
  margin: 15px 0px 30px 0px;
  @media (max-width: 480px) {
    width: 100%;
   }
}

.form__input {
  width: 640px;
  height: 60px;
  border: 2px solid #1F1F1F;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px 40px 20px 20px;
  @media (max-width: 480px) {
    width: 300px;
    height: 27px;
   }
}

.form__input:placeholder-shown {
  font-family: 'Halvar Breitschrift';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  @media (max-width: 480px) {
    font-size: 8px;
    line-height: 9px;
   }
}

.form__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1F1F1F;
  border-radius: 10px;
  font-family: 'Halvar Breitschrift';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  padding: 20px 60px 20px 60px;
  color: #FFFFFF;
  @media (max-width: 480px) {
    width: 120px;
    height: 30px;
    font-size: 10px;
    line-height: 12px;
   }
}

.line__img {
  @media (max-width: 480px) {
    width: 100%;
   }
}

//////////////////////..........................Footer................................................................

.footer {
background-color: #1F1F1F;
}

.footer-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 480px) {
   justify-content: center;
   }
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px 30px 0px;
  @media (max-width: 480px) {
    display: none;
   }
}

.footer__list a {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  margin-left: 25px;
}

.footer__contact a {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  @media (max-width: 480px) {
    display: none;
  }
}


///////////.............................................Burger..................................................

.burger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #272727;
  display: none;
}

.burger-wrapper {
  padding: 50px 30px 50px 30px;
}

.burger-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.burger__cross {
  position: absolute;
  right: 20px;
  top: 20px;
}

.burger__list a {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
 
}

.burger__list li {
  margin-top: 30px;
}